<html lang="en" class="no-js">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Amal Hichri </title>
        <link rel="shortcut icon" href="{{ asset('assets/favicon.jpg') }}">
        <!-- css -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/transition-animations.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/pe-icon-7-stroke.css') }}" rel="stylesheet">
        <!-- js -->
        <script src="{{ asset('assets/plugins/googleanalytics/analyticsuse.js') }}"></script> 
        <script src="{{ asset('assets/js/jquery-2.1.3.min.js') }}"></script> 
        <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script> 
        <script src="{{ asset('assets/plugins/recaptcha/api.js') }}"></script> 
    </head>

    <body>
        
    {% block pagecontent %}
    {% endblock %}  
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/page-transition.js') }}"></script>
        <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/validator.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.shuffle.min.js') }}"></script>
        <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.hoverdir.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
    </body>

</html>
